<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand" routerLink="/cats">Cat Home</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/cats">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create">Create</a>
        </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
            <a routerLink="/login">Sign in</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
            <a class="nav-link" routerLink="/signup">Register</a>
        </li>
        <li *ngIf="auth.isLoggedIn()">
            <a (click)="auth.logout()">Logout</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>